<ion-header>
  <ion-toolbar color="dark">
    <ion-title>NEM P2P</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg-dark">
  @if (mode) {
    <div class="fetch-wrapper">
      <p class="title">File sharing system using block chains.</p>
      <ion-input
        type="text"
        placeholder="Please NEM Address."
        [(ngModel)]="address"
        fill="solid"
      ></ion-input>
      <div class="encrypt-wrapper">
        <div class="form-wrapper">
          <label><input type="checkbox" [(ngModel)]="encrypted" /> File encrypted?</label>
        </div>
        @if (encrypted) {
          <ion-input
            type="password"
            placeholder="Please private key."
            [(ngModel)]="decryptPrivKey"
            fill="solid"
          ></ion-input>
        }
      </div>
      <div class="submit-wrapper">
        <ion-button size="small" color="light" [disabled]="fetched === 1" (click)="fetch()">Fetch</ion-button>
      </div>
      @if (console.length > 0) {
        <div class="fetch-console-wrapper">
          @for (c of console; track $index) {
            <div class="console-wrapper">{{ c }}</div>
          }
        </div>
      }
      @if (fetched === 2) {
        <div class="display-wrapper">
          @if (imageSrc) {
            <img [src]="imageSrc" height="50" />
          }
          @if (showAudio) {
            <audio #audioPlayer controls></audio>
          }
          <div class="download-wrapper">
            <a id="download" [download]="metaData?.name" [href]="downloadUrl">Download</a>
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="convert-wrapper">
      <p class="title">File to Message Converter.</p>
      <div class="form-group">
        <input type="file" id="file" (change)="handleFileInput($event)" />
      </div>
      <div class="submit-wrapper">
        <ion-button [disabled]="!fileToUpload" size="small" color="light" (click)="convert()">Convert</ion-button>
      </div>
      @if (convertProgress.length > 0) {
        @for (c of convertProgress; track $index) {
          <div class="convert-progress-wrapper">{{ c }}</div>
        }
      }
      @if (cMetaData) {
        <div class="json-wrapper">
          <h3>Success!</h3>
          <h3>Transaction data</h3>
          <div class="fee-wrapper">total fee: {{ sumFee / 1000000 }}XEM</div>
          <div class="metadata-wrapper" (click)="copy($event)">{{ cMetaData | toJsonStringify }}</div>
          @for (b of binaries; track b.id) {
            <div class="binary-wrapper" (click)="copy($event)">{{ b | toJsonStringify }}</div>
          }
        </div>
      }
    </div>
  }
</ion-content>

<ion-footer>
  <div class="mode">
    <ion-button fill="clear" size="small" (click)="toggleMode()">
      Go To {{ mode ? "Convert" : "Fetch" }}
    </ion-button>
  </div>
  <div class="credit">
    Created by 2018.
    <a href="https://github.com/scrpgil/nem-p2p" target="_blank">GitHub</a> |
    <a href="https://explorer.nemtool.com/" target="_blank">NEM Explorer</a>
  </div>
</ion-footer>
