<ion-header>
  <ion-toolbar color="dark">
    <ion-title>NEM P2P</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg-dark">
  <ng-container *ngIf="mode">
    <div class="fetch-wrapper">
      <p class="title">File sharing system using block chains.</p>
      <ion-input
        type="text"
        placeholder="Please NEM Address."
        [(ngModel)]="address"
        fill="solid"
      ></ion-input>
      <div class="encrypt-wrapper">
        <div class="form-wrapper">
          <ion-checkbox [(ngModel)]="encrypted" labelPlacement="end">File encrypted?</ion-checkbox>
        </div>
        <ion-input
          *ngIf="encrypted"
          type="password"
          placeholder="Please private key."
          [(ngModel)]="decryptPrivKey"
          fill="solid"
        ></ion-input>
      </div>
      <div class="submit-wrapper">
        <ion-button size="small" [disabled]="fetched === 1" (click)="fetch()">Fetch</ion-button>
      </div>
      <ng-container *ngIf="console.length > 0">
        <div class="fetch-console-wrapper">
          <div class="console-wrapper" *ngFor="let c of console">{{ c }}</div>
        </div>
      </ng-container>
      <div class="display-wrapper" *ngIf="fetched === 2">
        <ng-container *ngIf="imageBase64 !== ''">
          <img [src]="imageBase64 | sanitaizer" height="50" />
        </ng-container>
        <ng-container *ngIf="audioBase64 !== ''">
          <audio [src]="audioBase64 | sanitaizer" controls></audio>
        </ng-container>
        <div class="download-wrapper">
          <a id="download" [download]="metaData?.name" [href]="href | sanitaizer" (click)="handleDownload()">Download</a>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!mode">
    <div class="convert-wrapper">
      <p class="title">File to Message Converter.</p>
      <div class="form-group">
        <input type="file" id="file" (change)="handleFileInput($event)" />
      </div>
      <div class="submit-wrapper">
        <ion-button [disabled]="!fileToUpload" size="small" (click)="convert()">Convert</ion-button>
      </div>
      <ng-container *ngIf="convertProgress.length > 0">
        <div class="convert-progress-wrapper" *ngFor="let c of convertProgress">{{ c }}</div>
      </ng-container>

      <div class="json-wrapper" *ngIf="cMetaData">
        <h3>Success!</h3>
        <h3>Transaction data</h3>
        <div class="fee-wrapper">total fee: {{ sumFee / 1000000 }}XEM</div>
        <div class="metadata-wrapper" (click)="copy($event)">{{ cMetaData | toJsonStringify }}</div>
        <ng-container *ngFor="let b of binaries">
          <div class="binary-wrapper" (click)="copy($event)">{{ b | toJsonStringify }}</div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ion-content>

<ion-footer>
  <div class="mode">
    <ion-button fill="clear" size="small" (click)="toggleMode()">
      Go To {{ mode ? "Convert" : "Fetch" }}
    </ion-button>
  </div>
  <div class="credit">Created by 2018. <a href="https://github.com/scrpgil/nem-p2p" target="_blank">GitHub</a></div>
</ion-footer>
