:host {
  .fetch-wrapper,
  .convert-wrapper {
    max-width: 800px;
    margin: auto;
  }

  h1,
  h3,
  p,
  .download-wrapper a,
  .json-wrapper,
  .fetch-console-wrapper,
  .submit-wrapper,
  .encrypted-wrapper,
  .form-group {
    color: #f4f4f4;
  }

  p.title {
    font-size: 16px;
  }

  ion-input {
    --color: #333;
    --background: #eff1f2;
    --border-radius: 4px;
    --padding-start: 4px;
    margin-bottom: 4px;
  }

  .json-wrapper {
    margin-top: 12px;
  }

  .encrypt-wrapper {
    .form-wrapper {
      text-align: right;
      margin: 8px 0;
    }
    ion-checkbox {
      --color: #f4f4f4;
      --color-checked: #f4f4f4;
    }
  }

  .submit-wrapper {
    margin-top: 8px;
  }

  .convert-progress-wrapper {
    color: #f4f4f4;
    font: 1.3rem Inconsolata, monospace;
  }

  .fetch-console-wrapper {
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 1px #c8c8c8;
    border-top: 1px solid #c8c8c8;
    margin-top: 12px;
    word-break: break-all;
    padding: 8px;
    .console-wrapper {
      padding: 2px 0;
    }
  }

  .display-wrapper {
    margin-left: 24px;
  }

  .generate-address-wrapper,
  .metadata-wrapper,
  .binary-wrapper {
    margin: 8px;
    padding: 8px;
    border-top: 1px solid #f4f4f4;
    cursor: pointer;
    word-break: break-all;
  }

  .mode {
    text-align: center;
    ion-button {
      text-decoration: underline;
    }
  }

  .credit {
    color: #f4f4f4;
    text-align: center;
    margin: 8px;
    a {
      color: #fff;
    }
  }

  .form-group {
    input[type='file'] {
      color: #f4f4f4;
    }
  }

  .fee-wrapper {
    color: #f4f4f4;
    margin: 8px;
  }
}
